body {
    margin: 0;
    padding: 0;
}

/* ******************************* Header image section ******************************* */

.header {
    background-image: linear-gradient(to bottom, rgba(2, 1, 1, 0.062),
            rgba(0, 0, 0, 0.842)), url(images/donation7.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}



.writing-part h1 {

    font-size: 40px;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
    color: #fff;
}

.writing-part p {
    color: #fff;
    font-family: 'Poppins', sans-serif;
    font-size: 15px;

}


.donate-btn {
    color: #fff;
    text-decoration: none;
    background-color: #FF5959;
    margin: 5px;
    padding: 10px;
    border-radius: 5px;

}

/* ******************************* Our Donate Plan Section ******************************* */

.collection {
    margin-top: 80px;
    text-align: center;
    font-family: 'Poppins', sans-serif;

}

.collection h1 {

    font-size: 30px;
    font-weight: 700;

}

.collection p {
    color: #707070;
    font-size: 12px;
    font-weight: 100;

}

.donate-money {
    margin-top: 50px;
    margin-left: 250px;
}

.donate-money span {
    color: #707070;
    background-color: #fff8f8;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    padding: 20px;
    margin-left: 3px;
    border-radius: 5px;

}

#Target {

    background-color: #FFEEEE;
    color: #FF5959;
    border: 1px solid tomato;
}

h4 {
    margin-top: 50px;
    margin-bottom: 0px;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
    color: #707070;
}

hr {
    width: 600px;
    margin-bottom: 40px;
}

.donate-btn2 {
    color: #fff;
    text-decoration: none;
    background-color: #FF5959;
    margin: 5px;
    padding: 10px;
    border-radius: 5px;
    margin-left: 450px;
}

/* ******************************* Card Section ******************************* */

.card-section {

    display: flex;
    align-items: center;
    justify-content: center;

}

.card {
    width: 20%;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;

}

.card img {

    width: 15%;
    margin-top: 20px;

}

.card p {

    text-align: left;
    color: #707070;
    font-size: 12px;
    font-weight: 100;

}

.color-1 {
    background-color: #c8eeee77;
}

.color-2 {
    background-color: #ecadad41;
}

.color-3 {
    background-color: #f0e1b86e;
}

/* ******************************* Bonus Point Section ******************************* */

.about {
    margin-top: 50px;
    width: 100%;
    display: flex;
    padding-top: 75px;
}

.img_container {
    width: 50%;
    position: relative;

}

.about_img {
    position: absolute;
    background: url('images/donation9.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 105%;
    height: 300px;
    top: 65px;
    left: 32%;
}

.about_content {
    width: 70%;
    padding: 40px 10% 40px 15%;
    margin-right: 80px;
    background-color: #b2e5eb;
}

.about_content h1 {
    font-weight: 600;
    font-size: 40px;
    padding-bottom: 20px;
    font-family: 'Poppins', sans-serif;
    color: #000;
}

.about_content p {
    padding-bottom: 30px;
    line-height: 25px;
    text-align: justify;

}

.about_content a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    background-color: transparent;
    padding: 8px 40px;
    background: linear-gradient(to right, transparent 50%, rgb(1, 161, 1) 50%);
    background-size: 200%;
    background-position: left;
    border: 1px solid rgb(0, 0, 0);
    letter-spacing: 2px;
    font-size: 14px;
    color: #000;
}

/* ******************************* Form Section ******************************* */

.box {
    width: 500px;
    height: 120px;
    margin-left: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f8dd996e;
    margin-bottom: 60px;
}

.box a {
    color: #fff;
    text-decoration: none;
    background-color: #FF5959;
    font-size: 10px;
    text-align: center;
    border-radius: 1px;
    margin-left: -40px;
    width: 70px;
    height: 12px;
    padding: 5px;
}

#Design {
    border: none;
    width: 200px;
    height: 21px;
    background-color: rgb(218, 218, 218);

}

/* ******************************* Footer Section ******************************* */

.footer-section {
    background-color: rgb(26, 23, 23);
    padding: 10px;
}

.footer-section h2 {
    text-align: center;
    color: #FF5959;
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    font-family: 'Lobster', 'cursive';
}

.footer-section h6 {
    text-align: center;
    color: #fff;
}

/* ******************************* Thank You ******************************* */